---
layout: null
---
/* 

  TMP Worldwide: Accessible Navigation Example
  UID: Michael "Spell" Spellacy (michael.spellacy[at]tmp.com)

*/ 

$breakpoint: (778 / 16) + em;
$primary-color-1: #0a72aa;
$animationSpeed: 200ms;

@keyframes showTada {

  0%   {
  transform: translate3d(0, -14%, 0);
  opacity: 0;
  }

  100% {
  transform: none;
  opacity: 1;
  }

}

@keyframes primarySubNavRight {

  0%   {
  max-height: 0;
  opacity: 0;
  transform: translate3d(-30%, 0, 0);
  }

  100% {
  max-height: 2000px;
  opacity: 1;
  transform: none;
  }

}

// Menu Button

#primary-button {
background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAdBAMAAADFpVh+AAAAD1BMVEUAAAAcb6ocb6ocb6ocb6oXVIzTAAAABHRSTlMAmTMiYFrBMQAAAChJREFUKM9jcMECHKggqoQFKDAMXiCIBQhQHg44zB28wBgLMKBVKgEAN7lG7VZqAfAAAAAASUVORK5CYII=") left top / 26px 18px no-repeat;
border: 0;
border-radius: 0;
display: block;
height: 18px;
line-height: normal;
margin: 0;
padding: 0;
position: relative;
width: 26px;
z-index: 2;

  @media(min-width: $breakpoint) {

    background-size: 40px 28px;
    height: 29px;
    width: 41px;

  }

  b {
  color: $primary-color-1;
  display: none;
  font-size: 12px;
  font-weight: normal;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -14px;
  text-align: center;
  transition: all 250ms ease-in-out;
  width: 100%;

    @media(min-width: $breakpoint) {

      display: block;

    }

  }

  &:focus, &:hover, .menu-opened & {

    b {

      @media(min-width: $breakpoint) {

        opacity: 1;
        top: -18px;

      }

    }

  }

}

// Primary Navigation

#primary-nav {
position: relative;

  ul {
  list-style: none;
  padding: 0;
  margin: 0;

    @media(min-width: $breakpoint) {

      width: 320px;

    }

    *:focus {
    outline: 0; // Outline not needed in nav because adequate highlight states available.
    }

    .js & {

      display: none;

    }

    &.active {

      display: block;

    }

  }

  #primary-nav-list {
  background-color: #fff;
  height: 265px;
  margin: 50px 0 0 -13px;
  overflow-x: hidden;
  overflow-y: scroll;

    .js & {

      height: auto;
      margin-top: 16px;
      overflow: visible;

    }

    @media(min-width: $breakpoint) {
    
      border: 1px #aaacb0 solid;
      box-shadow: 6px 7px 17px -6px rgba(0,0,0,0.75);
      margin: 0;
      position: absolute;
      right: 0;
      top: 185px;
      z-index: 1;

      .js & {

        margin: 0;
        right: auto;
        top: 61px;
        left: -30px;

        &.active {
        animation: showTada $animationSpeed ease-in-out;
        }

      }
      
    }

    > li {
    border-bottom: 1px #e9ebed solid;
    padding: 0;
    position: relative;

      // Menu Arrow

      &:first-child {

        .primary-nav-heading {

          @media(min-width: $breakpoint) {

            &:after, &:before {
            border: solid transparent;
            bottom: 100%;
            content: "";
            height: 0;
            left: 15%;
            pointer-events: none;
            position: absolute;
            transition: all 250ms ease-in-out;
            width: 0;
            }

            &:after {
            border-color: rgba(249, 251, 252, 0);
            border-bottom-color: #f9fbfc;
            border-width: 20px;
            margin-left: -20px;
            }

            &:before {
            border-color: rgba(170, 172, 176, 0);
            border-bottom-color: #aaacb0;
            border-width: 21px;
            margin-left: -21px;
            }

            &.active, &:focus, &:hover {

              &:after {
              border-bottom-color: $primary-color-1;
              }

            }

          }

        }

      }

      &:last-child {
      border: none;
      }

    }

    // Shared

    .primary-nav-heading, a {
    background-color: #fff;
    color: #6c7587;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0.6em;
    transition: all 250ms ease-in-out;
    text-decoration: none;

      @media(min-width: $breakpoint) {

        background-color: #f9fbfc;
        font-size: px(25);

      }

      &[aria-describedby='current-selection'] {

        background-color: #eee;
        color: inherit;

      }

    }

    .primary-nav-heading {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAABrdYhrdYhrdYhrdYhrdYjEGSYlAAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer; 
    font-weight: normal;
    padding-right: 8%;
    position: relative;

      @media(min-width: $breakpoint) {

        .js & {

          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG5JREFUeNpiyC7tMP7//z8DPszEwMCwO6es05gBDwApEiSkkAlK41XIhMTGqZAJjY9VIRMW0zEUMuFwK4pCJjw+BykMJaRo1pSu8gp8ikAK0vG5CUUBNkUYCtAVYVWArAinAjAAJpWZhJIKQIABAIKcVFlT5fO8AAAAAElFTkSuQmCC");

        }

      }
    
      &.active, &:focus, &:hover {
      background-color: $primary-color-1;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
      color: #fff;

        @media(min-width: $breakpoint) {

          .js & {
      
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNqE0tsJACAIRuF2aslW+JdsBcuHoJseQZ8+UNRiZnVmydJLJ+jFCC6Uwh2F8EZf+EMPjNABM+TRCInaiQYXrUC0TNFZRAcWvcoQYAAjF+wAIY84mgAAAABJRU5ErkJggg==");

          }

        }

      }

    }

    a {

      &.active, &:focus, &:hover {
      color: $primary-color-1;
      text-indent: 5px;

        @media(min-width: $breakpoint) {

          background-color: $primary-color-1;
          color: #fff;
          text-indent: 0;
        
        }

      }

    }

    // Sub Menu

    ul {

      $sub-border-color: #aaacb0;
      $sub-border-size: 1px;

      @media(min-width: $breakpoint) {

        border-top: $sub-border-size $sub-border-color solid;
        border-bottom: $sub-border-size $sub-border-color solid;
        box-shadow: 0 7px 17px -6px rgba(0,0,0,0.75);
        
          .js & {

            border-left: $sub-border-size $sub-border-color solid;
            border-right: $sub-border-size $sub-border-color solid;
            left: 318px;
            position: absolute;
            top: 0;
            z-index: 1;

            &.active {
            animation: primarySubNavRight $animationSpeed ease-in-out;
            }

        }

      }

    }

    li {

      &:last-child {

        border: none;

      }

    }

  }

}