
// Primary Navigation

$breakpoint: 778px;
$primary-color-1: #0a72aa;
$animationSpeed: 200ms;
$accent: #6c7587;

@keyframes primarySubNavRight {

  0%   {
  max-height: 0;
  opacity: 0;
  transform: translate3d(-30%, 0, 0);
  }

  100% {
  max-height: 2000px;
  opacity: 1;
  transform: none;
  }

}

#primary-nav {
margin-left: 13px;
position: relative;

  .js & {

    margin-top: 13px;

  }

  @media(min-width: $breakpoint) {

    margin-left: 65px;
   
      .js & {

        margin-top: 65px;
        width: 290px;
      
      }

  }

  ul {
  list-style: none;
  padding: 0;
  margin: 0;

    @media(min-width: $breakpoint) {

      width: 320px;

    }

    *:focus {
    outline: 0; // Outline not needed in nav because adequate highlight states available.
    }

    .js & {

      display: none;

    }

    &.active {

      display: block;

    }

  }

  #primary-nav-list {
  height: 265px;
  margin: 50px 0 0 -13px;
  overflow-x: hidden;
  overflow-y: scroll;

    .js & {

      height: auto;
      margin-top: 16px;
      overflow: visible;

    }

    @media(min-width: $breakpoint) {
    
      border: 1px #aaacb0 solid;
      box-shadow: 6px 7px 17px -6px rgba(0,0,0,0.75);
      margin: 0;
      position: absolute;
      right: 0;
      top: 185px;
      z-index: 1;

      .js & {

        margin: 0;
        right: auto;
        top: 61px;
        left: -30px;

        &.active {
        animation: showTada $animationSpeed ease-in-out;
        }

      }
      
    }

    > li {
    border-bottom: 1px #e9ebed solid;
    padding: 0;
    position: relative;

      // Menu Arrow

      &:first-child {

        .primary-nav-heading {

          @media(min-width: $breakpoint) {

            &:after, &:before {
            border: solid transparent;
            bottom: 100%;
            content: "";
            height: 0;
            left: 15%;
            pointer-events: none;
            position: absolute;
            transition: all 250ms ease-in-out;
            width: 0;
            }

            &:after {
            border-color: rgba(249, 251, 252, 0);
            border-bottom-color: #f9fbfc;
            border-width: 20px;
            margin-left: -20px;
            }

            &:before {
            border-color: rgba(170, 172, 176, 0);
            border-bottom-color: #aaacb0;
            border-width: 21px;
            margin-left: -21px;
            }

            &.active, &:focus, &:hover {

              &:after {
              border-bottom-color: $primary-color-1;
              }

            }

          }

        }

      }

      &:last-child {
      border: none;
      }

    }

    // Shared

    .primary-nav-heading, a {
    background-color: #fff;
    color: $accent;
    display: block;
    font-size: px(18);
    padding: 0.6em;
    transition: all 250ms ease-in-out;
    text-decoration: none;

      @media(min-width: $breakpoint) {

        background-color: #f9fbfc;
        font-size: px(25);

      }

      &[aria-describedby='current-selection'] {

        background-color: #eee;
        color: inherit;

      }

    }

    .primary-nav-heading {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAABrdYhrdYhrdYhrdYhrdYjEGSYlAAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer; 
    font-weight: normal;
    padding-right: 8%;
    position: relative;

      @media(min-width: $breakpoint) {

        .js & {

          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG5JREFUeNpiyC7tMP7//z8DPszEwMCwO6es05gBDwApEiSkkAlK41XIhMTGqZAJjY9VIRMW0zEUMuFwK4pCJjw+BykMJaRo1pSu8gp8ikAK0vG5CUUBNkUYCtAVYVWArAinAjAAJpWZhJIKQIABAIKcVFlT5fO8AAAAAElFTkSuQmCC");

        }

      }
    
      &.active, &:focus, &:hover {
      background-color: $primary-color-1;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
      color: #fff;

        @media(min-width: $breakpoint) {

          .js & {
      
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNqE0tsJACAIRuF2aslW+JdsBcuHoJseQZ8+UNRiZnVmydJLJ+jFCC6Uwh2F8EZf+EMPjNABM+TRCInaiQYXrUC0TNFZRAcWvcoQYAAjF+wAIY84mgAAAABJRU5ErkJggg==");

          }

        }

      }

    }

    a {

      &.active, &:focus, &:hover {
      color: $primary-color-1;
      text-indent: 5px;

        @media(min-width: $breakpoint) {

          background-color: $primary-color-1;
          color: #fff;
          text-indent: 0;
        
        }

      }

    }

    // Sub Menu

    ul {

      $sub-border-color: #aaacb0;
      $sub-border-size: 1px;

      @media(min-width: $breakpoint) {

        border-top: $sub-border-size $sub-border-color solid;
        border-bottom: $sub-border-size $sub-border-color solid;
        box-shadow: 0 7px 17px -6px rgba(0,0,0,0.75);
        
          .js & {

            border-left: $sub-border-size $sub-border-color solid;
            border-right: $sub-border-size $sub-border-color solid;
            left: 318px;
            position: absolute;
            top: 0;
            z-index: 1;

            &.active {
            animation: primarySubNavRight $animationSpeed ease-in-out;
            }

        }

      }

    }

    li {

      &:last-child {

        border: none;

      }

    }

  }

}