@keyframes primarySubNavRight {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translate3d(-30%, 0, 0); }
  100% {
    max-height: 2000px;
    opacity: 1;
    transform: none; } }
#primary-nav {
  margin-left: 13px;
  position: relative; }
  .js #primary-nav {
    margin-top: 13px; }
  @media (min-width: 778px) {
    #primary-nav {
      margin-left: 65px; }
      .js #primary-nav {
        margin-top: 65px;
        width: 290px; } }
  #primary-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (min-width: 778px) {
      #primary-nav ul {
        width: 320px; } }
    #primary-nav ul *:focus {
      outline: 0; }
    .js #primary-nav ul {
      display: none; }
    #primary-nav ul.active {
      display: block; }
  #primary-nav #primary-nav-list {
    height: 265px;
    margin: 50px 0 0 -13px;
    overflow-x: hidden;
    overflow-y: scroll; }
    .js #primary-nav #primary-nav-list {
      height: auto;
      margin-top: 16px;
      overflow: visible; }
    @media (min-width: 778px) {
      #primary-nav #primary-nav-list {
        border: 1px #aaacb0 solid;
        box-shadow: 6px 7px 17px -6px rgba(0, 0, 0, 0.75);
        margin: 0;
        position: absolute;
        right: 0;
        top: 185px;
        z-index: 1; }
        .js #primary-nav #primary-nav-list {
          margin: 0;
          right: auto;
          top: 61px;
          left: -30px; }
          .js #primary-nav #primary-nav-list.active {
            animation: showTada 200ms ease-in-out; } }
    #primary-nav #primary-nav-list > li {
      border-bottom: 1px #e9ebed solid;
      padding: 0;
      position: relative; }
      @media (min-width: 778px) {
        #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:after, #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:before {
          border: solid transparent;
          bottom: 100%;
          content: "";
          height: 0;
          left: 15%;
          pointer-events: none;
          position: absolute;
          transition: all 250ms ease-in-out;
          width: 0; }
        #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:after {
          border-color: rgba(249, 251, 252, 0);
          border-bottom-color: #f9fbfc;
          border-width: 20px;
          margin-left: -20px; }
        #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:before {
          border-color: rgba(170, 172, 176, 0);
          border-bottom-color: #aaacb0;
          border-width: 21px;
          margin-left: -21px; }
        #primary-nav #primary-nav-list > li:first-child .primary-nav-heading.active:after, #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:focus:after, #primary-nav #primary-nav-list > li:first-child .primary-nav-heading:hover:after {
          border-bottom-color: #0a72aa; } }
      #primary-nav #primary-nav-list > li:last-child {
        border: none; }
    #primary-nav #primary-nav-list .primary-nav-heading, #primary-nav #primary-nav-list a {
      background-color: #fff;
      color: #6c7587;
      display: block;
      font-size: px(18);
      padding: 0.6em;
      transition: all 250ms ease-in-out;
      text-decoration: none; }
      @media (min-width: 778px) {
        #primary-nav #primary-nav-list .primary-nav-heading, #primary-nav #primary-nav-list a {
          background-color: #f9fbfc;
          font-size: px(25); } }
      #primary-nav #primary-nav-list .primary-nav-heading[aria-describedby='current-selection'], #primary-nav #primary-nav-list a[aria-describedby='current-selection'] {
        background-color: #eee;
        color: inherit; }
    #primary-nav #primary-nav-list .primary-nav-heading {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAABrdYhrdYhrdYhrdYhrdYjEGSYlAAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
      background-position: 95% center;
      background-repeat: no-repeat;
      cursor: pointer;
      font-weight: normal;
      padding-right: 8%;
      position: relative; }
      @media (min-width: 778px) {
        .js #primary-nav #primary-nav-list .primary-nav-heading {
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG5JREFUeNpiyC7tMP7//z8DPszEwMCwO6es05gBDwApEiSkkAlK41XIhMTGqZAJjY9VIRMW0zEUMuFwK4pCJjw+BykMJaRo1pSu8gp8ikAK0vG5CUUBNkUYCtAVYVWArAinAjAAJpWZhJIKQIABAIKcVFlT5fO8AAAAAElFTkSuQmCC"); } }
      #primary-nav #primary-nav-list .primary-nav-heading.active, #primary-nav #primary-nav-list .primary-nav-heading:focus, #primary-nav #primary-nav-list .primary-nav-heading:hover {
        background-color: #0a72aa;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJBAMAAADJBLEBAAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAM+6ZiMBplhUAAAAtSURBVAjXYzANBQNFBmYwHSTAABQCCzAAhSACQCGwAEgILAAWAgqAAQtQAAEAK68JlT1+VVwAAAAASUVORK5CYII=");
        color: #fff; }
        @media (min-width: 778px) {
          .js #primary-nav #primary-nav-list .primary-nav-heading.active, .js #primary-nav #primary-nav-list .primary-nav-heading:focus, .js #primary-nav #primary-nav-list .primary-nav-heading:hover {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAYAAADESFVDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNqE0tsJACAIRuF2aslW+JdsBcuHoJseQZ8+UNRiZnVmydJLJ+jFCC6Uwh2F8EZf+EMPjNABM+TRCInaiQYXrUC0TNFZRAcWvcoQYAAjF+wAIY84mgAAAABJRU5ErkJggg=="); } }
    #primary-nav #primary-nav-list a.active, #primary-nav #primary-nav-list a:focus, #primary-nav #primary-nav-list a:hover {
      color: #0a72aa;
      text-indent: 5px; }
      @media (min-width: 778px) {
        #primary-nav #primary-nav-list a.active, #primary-nav #primary-nav-list a:focus, #primary-nav #primary-nav-list a:hover {
          background-color: #0a72aa;
          color: #fff;
          text-indent: 0; } }
    @media (min-width: 778px) {
      #primary-nav #primary-nav-list ul {
        border-top: 1px #aaacb0 solid;
        border-bottom: 1px #aaacb0 solid;
        box-shadow: 0 7px 17px -6px rgba(0, 0, 0, 0.75); }
        .js #primary-nav #primary-nav-list ul {
          border-left: 1px #aaacb0 solid;
          border-right: 1px #aaacb0 solid;
          left: 318px;
          position: absolute;
          top: 0;
          z-index: 1; }
          .js #primary-nav #primary-nav-list ul.active {
            animation: primarySubNavRight 200ms ease-in-out; } }
    #primary-nav #primary-nav-list li:last-child {
      border: none; }

/*# sourceMappingURL=eample.css.map */
